body {
    font-family: 'Fira Sans', sans-serif;
}
h1,h2,h3 {
    text-transform: uppercase;
    opacity: 1;
}
#hello {
    font-size: 100px;
    text-transform: capitalize;
    font-weight: bold;
}
.navbar {
    font-variant: small-caps;
    text-rendering: auto;
}
.portfolio-box {
    max-height: 493px;
}
.page-section {
    padding: 40px 0px;
}

.project-name {
    font-style: italic;
}
#contactContainer {
    height: 235.22px;
}
    
#contact.col-lg-3 {
    margin: 20px 0;
}
#contact.LI-profile-badge {
    
    align-content: center;
}
#i.fas {
    vertical-align: middle;
}

#contactSubtitle {
    padding: 15px 0;
}
#email {
    padding: 10px 0;
    
}
#headshot {
    padding: 20px 0 0 0;
}
p.text-muted.mb-5 {
    font-size: 24px;
}
#spaceman {
    opacity: 0.8;
    vertical-align: middle;
    padding: 40px 0;
}
#spacemanDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}
p.text-muted {
    padding: 15px 0;
}

#contactMain {
    padding: 40px 0 10px 0;
}

#contactEmail {
    margin: 16px 0 16px 0;
}

@media (max-width: 992px) {
    #spaceman {
        max-width: 400px;
    }
}

@media (max-width: 600px) {
    #spaceman {
        max-width: 250px;
    }
}